.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-Alias {
  width: 32px;
  height: 32px;
  background-position: 0 0;
}
.icon-APIGateway {
  width: 32px;
  height: 32px;
  background-position: -48px 0;
}
.icon-Authentication {
  width: 32px;
  height: 32px;
  background-position: -96px 0;
}
.icon-AWSLambdaFunction {
  width: 32px;
  height: 32px;
  background-position: -144px 0;
}
.icon-AWSLambdaFunctionInvokeBlack {
  width: 32px;
  height: 32px;
  background-position: -192px 0;
}
.icon-AWSLambdaInvokeFunctionBlack {
  width: 32px;
  height: 32px;
  background-position: -240px 0;
}
.icon-AzureFunction {
  width: 32px;
  height: 32px;
  background-position: -288px 0;
}
.icon-AzureFunctionInvoke {
  width: 32px;
  height: 32px;
  background-position: -336px 0;
}
.icon-Beans {
  width: 32px;
  height: 32px;
  background-position: -384px 0;
}
.icon-Book {
  width: 32px;
  height: 32px;
  background-position: -432px 0;
}
.icon-Bucket {
  width: 32px;
  height: 32px;
  background-position: -480px 0;
}
.icon-CallToJavaBean {
  width: 32px;
  height: 32px;
  background-position: -528px 0;
}
.icon-CallToJavaProgram {
  width: 32px;
  height: 32px;
  background-position: -576px 0;
}
.icon-CallToProgram {
  width: 32px;
  height: 32px;
  background-position: -624px 0;
}
.icon-CallToSignalR {
  width: 32px;
  height: 32px;
  background-position: -672px 0;
}
.icon-Category {
  width: 32px;
  height: 32px;
  background-position: -720px 0;
}
.icon-Class {
  width: 32px;
  height: 32px;
  background-position: 0 -48px;
}
.icon-Condition {
  width: 32px;
  height: 32px;
  background-position: -48px -48px;
}
.icon-ConstraintPrimary {
  width: 32px;
  height: 32px;
  background-position: -96px -48px;
}
.icon-Constructor {
  width: 32px;
  height: 32px;
  background-position: -144px -48px;
}
.icon-Cursor {
  width: 32px;
  height: 32px;
  background-position: -192px -48px;
}
.icon-Database {
  width: 32px;
  height: 32px;
  background-position: -240px -48px;
}
.icon-DatabaseConnection {
  width: 32px;
  height: 32px;
  background-position: -288px -48px;
}
.icon-DatabaseView {
  width: 32px;
  height: 32px;
  background-position: -336px -48px;
}
.icon-DataBlock {
  width: 32px;
  height: 32px;
  background-position: -384px -48px;
}
.icon-DataModule {
  width: 32px;
  height: 32px;
  background-position: -432px -48px;
}
.icon-DataSet {
  width: 32px;
  height: 32px;
  background-position: -480px -48px;
}
.icon-Destructor {
  width: 32px;
  height: 32px;
  background-position: -528px -48px;
}
.icon-Division {
  width: 32px;
  height: 32px;
  background-position: -576px -48px;
}
.icon-Enumeration {
  width: 32px;
  height: 32px;
  background-position: -624px -48px;
}
.icon-EnumItem {
  width: 32px;
  height: 32px;
  background-position: -672px -48px;
}
.icon-EventHandler {
  width: 32px;
  height: 32px;
  background-position: -720px -48px;
}
.icon-File {
  width: 32px;
  height: 32px;
  background-position: 0 -96px;
}
.icon-Folder {
  width: 32px;
  height: 32px;
  background-position: -48px -96px;
}
.icon-ForeignKey {
  width: 32px;
  height: 32px;
  background-position: -96px -96px;
}
.icon-Form {
  width: 32px;
  height: 32px;
  background-position: -144px -96px;
}
.icon-Function {
  width: 32px;
  height: 32px;
  background-position: -192px -96px;
}
.icon-Index {
  width: 32px;
  height: 32px;
  background-position: -240px -96px;
}
.icon-Lambda {
  width: 32px;
  height: 32px;
  background-position: -288px -96px;
}
.icon-List {
  width: 32px;
  height: 32px;
  background-position: -336px -96px;
}
.icon-ListBean {
  width: 32px;
  height: 32px;
  background-position: -384px -96px;
}
.icon-LocalStorage {
  width: 32px;
  height: 32px;
  background-position: -432px -96px;
}
.icon-Macro {
  width: 32px;
  height: 32px;
  background-position: -480px -96px;
}
.icon-Namespace {
  width: 32px;
  height: 32px;
  background-position: -528px -96px;
}
.icon-Package {
  width: 32px;
  height: 32px;
  background-position: -576px -96px;
}
.icon-Paragraph {
  width: 32px;
  height: 32px;
  background-position: -624px -96px;
}
.icon-Procedure {
  width: 32px;
  height: 32px;
  background-position: -672px -96px;
}
.icon-Process {
  width: 32px;
  height: 32px;
  background-position: -720px -96px;
}
.icon-Program {
  width: 32px;
  height: 32px;
  background-position: 0 -144px;
}
.icon-PropertyGetter {
  width: 32px;
  height: 32px;
  background-position: -48px -144px;
}
.icon-PropertySetter {
  width: 32px;
  height: 32px;
  background-position: -96px -144px;
}
.icon-Queue {
  width: 32px;
  height: 32px;
  background-position: -144px -144px;
}
.icon-QueueCall {
  width: 32px;
  height: 32px;
  background-position: -192px -144px;
}
.icon-QueueReceive {
  width: 32px;
  height: 32px;
  background-position: -240px -144px;
}
.icon-Receive {
  width: 32px;
  height: 32px;
  background-position: -288px -144px;
}
.icon-Region {
  width: 32px;
  height: 32px;
  background-position: -336px -144px;
}
.icon-ResourceServiceDelete {
  width: 32px;
  height: 32px;
  background-position: -384px -144px;
}
.icon-ResourceServiceGet {
  width: 32px;
  height: 32px;
  background-position: -432px -144px;
}
.icon-ResourceServicePost {
  width: 32px;
  height: 32px;
  background-position: -480px -144px;
}
.icon-ResourceServicePut {
  width: 32px;
  height: 32px;
  background-position: -528px -144px;
}
.icon-RouteFrom {
  width: 32px;
  height: 32px;
  background-position: -576px -144px;
}
.icon-RouteTo {
  width: 32px;
  height: 32px;
  background-position: -624px -144px;
}
.icon-Schema {
  width: 32px;
  height: 32px;
  background-position: -672px -144px;
}
.icon-Section {
  width: 32px;
  height: 32px;
  background-position: -720px -144px;
}
.icon-Service {
  width: 32px;
  height: 32px;
  background-position: 0 -192px;
}
.icon-SignalR {
  width: 32px;
  height: 32px;
  background-position: -48px -192px;
}
.icon-SQLNamedQuery {
  width: 32px;
  height: 32px;
  background-position: -96px -192px;
}
.icon-Synonym {
  width: 32px;
  height: 32px;
  background-position: -144px -192px;
}
.icon-Table {
  width: 32px;
  height: 32px;
  background-position: -192px -192px;
}
.icon-TableColumn {
  width: 32px;
  height: 32px;
  background-position: -240px -192px;
}
.icon-Trigger {
  width: 32px;
  height: 32px;
  background-position: -288px -192px;
}
.icon-UIButton {
  width: 32px;
  height: 32px;
  background-position: -336px -192px;
}
.icon-UITextField {
  width: 32px;
  height: 32px;
  background-position: -384px -192px;
}
.icon-UIView {
  width: 32px;
  height: 32px;
  background-position: -432px -192px;
}
.icon-UniqueKey {
  width: 32px;
  height: 32px;
  background-position: -480px -192px;
}
.icon-Variable {
  width: 32px;
  height: 32px;
  background-position: -528px -192px;
}
.icon-WebService {
  width: 32px;
  height: 32px;
  background-position: -576px -192px;
}

