.genericAWSLambdaFunction,
.genericAWSLambdaFunctionGrey {
  width: 64px;
  height: 64px;
}
.genericAWSLambdaFunctionInvoke,
.genericAWSLambdaFunctionInvokeGrey,
.genericAWSLambdaInvokeFunction,
.genericAWSLambdaInvokeFunctionGrey {
  width: 42px;
  height: 42px;
}
.genericAlert,
.genericAlertRedCorner,
.genericAlias,
.genericAndroid_Application,
.genericApplication_Android,
.genericApplication_Angular,
.genericApplication_AngularJS,
.genericBeans,
.genericCAST_Forms_DataBlock,
.genericCAST_Forms_DataBlockItem,
.genericCAST_Forms_DataBlockItem_Tab,
.genericCAST_Forms_DataBlock_Relation,
.genericCAST_Forms_DataBlock_Tab,
.genericCallToJavaBean,
.genericCallToJavaProgram,
.genericCallToProgram,
.genericCategory,
.genericCategoryExternal,
.genericClass,
.genericClassExternal,
.genericClassInstance,
.genericClassRed,
.genericClassRedCorner,
.genericCondition,
.genericConstructor,
.genericConstructorExternal,
.genericConstructorInstance,
.genericCursor,
.genericCursorBlue,
.genericCursorHeader,
.genericCursorRed,
.genericDataBlock,
.genericDataBlockItem,
.genericDataBlockItemRedCorner,
.genericDataBlockRedCorner,
.genericDataBlockRelation,
.genericDataLink,
.genericDataModel,
.genericDataModule,
.genericDataModuleExternal,
.genericDataObject,
.genericDataObjectBrown,
.genericDataObjectGreen,
.genericDataObjectRedCorner,
.genericDataQuery,
.genericDataSet,
.genericDataSetGrey,
.genericDatabase,
.genericDatabaseConnection,
.genericDatabaseEvent,
.genericDatabaseExternal,
.genericDatabaseLink,
.genericDatabaseView,
.genericDatabaseViewColumn,
.genericDeleteResourceService,
.genericDestructor,
.genericDestructorExternal,
.genericEnumItem,
.genericEnumItemExternal,
.genericEnumeration,
.genericEnumerationExternal,
.genericEventHandler,
.genericEventHandlerExternal,
.genericFORMS_RDF_QUERY,
.genericFile_ASA,
.genericFile_ASAX,
.genericFile_ASCX,
.genericFile_ASMX,
.genericFile_ASP,
.genericFile_ASPX,
.genericFile_CICS,
.genericFile_CSHTML,
.genericFile_CSS,
.genericFile_CSharp,
.genericFile_Cpp,
.genericFile_DDL,
.genericFile_DML,
.genericFile_FMB,
.genericFile_Grey,
.genericFile_HTC,
.genericFile_HTML,
.genericFile_Header,
.genericFile_JADE,
.genericFile_JS,
.genericFile_JSP,
.genericFile_JSX,
.genericFile_Java,
.genericFile_Kotlin,
.genericFile_LF,
.genericFile_MMB,
.genericFile_OLB,
.genericFile_ObjC,
.genericFile_PF,
.genericFile_PLL,
.genericFile_PUG,
.genericFile_Plist,
.genericFile_PurpleText,
.genericFile_Python,
.genericFile_SQL,
.genericFile_Script,
.genericFile_StoryBoard,
.genericFile_Swift,
.genericFile_TS,
.genericFile_TSX,
.genericFile_UIXML,
.genericFile_VB,
.genericFile_WSDL,
.genericFile_XIB,
.genericFolderDarkBlue,
.genericFolderGrey,
.genericFolderLightBlue,
.genericFolderRed,
.genericForm,
.genericFragment_CSS,
.genericFragment_HTML,
.genericFragment_JS,
.genericFragment_TS,
.genericFragment_XML,
.genericFunctionAction,
.genericFunctionAnnotation,
.genericFunctionBean,
.genericFunctionBlue,
.genericFunctionBlueBracket,
.genericFunctionBluePrivate,
.genericFunctionBlueService,
.genericFunctionConverter,
.genericFunctionExternal,
.genericFunctionGreen,
.genericFunctionGreenClass,
.genericFunctionGreenSquareBracket,
.genericFunctionOrange,
.genericFunctionOrangeBracket,
.genericFunctionOrangeModel,
.genericFunctionOrangeProcess,
.genericFunctionOrangeWatch,
.genericFunctionPinkBracket,
.genericFunctionPurple,
.genericFunctionPurpleHeader,
.genericFunctionPurpleRedCorner,
.genericFunctionValidator,
.genericGetResourceService,
.genericInstance,
.genericInterface,
.genericInterfaceExternal,
.genericList,
.genericListBean,
.genericListRedCorner,
.genericLocalStorage,
.genericMember,
.genericMenu,
.genericMenuItem,
.genericMenuItemRedCorner,
.genericMenuRedCorner,
.genericModule,
.genericModuleRedCorner,
.genericPackage,
.genericPackageGrey,
.genericPackageOrange,
.genericPackageOrangeRedCorner,
.genericPackageRed,
.genericPort,
.genericPostResourceService,
.genericProcedure,
.genericProcedureGreen,
.genericProcedureGrey,
.genericProcedureHeader,
.genericProcedurePink,
.genericProcedurePrivate,
.genericProcedureRedCorner,
.genericProcessBlue,
.genericProcessExternal,
.genericProcessGreen,
.genericProcessPurple,
.genericProcessRed,
.genericPropertyGetter,
.genericPropertyOutlet,
.genericPropertySetter,
.genericPutResourceService,
.genericQueue,
.genericReceive,
.genericResourceServiceDelete,
.genericResourceServiceGet,
.genericResourceServicePost,
.genericResourceServicePut,
.genericRouteFrom,
.genericRouteTo,
.genericSQLNamedQuery,
.genericSchema,
.genericServiceBlue,
.genericServiceBrown,
.genericServiceGreen,
.genericServiceOrange,
.genericServicePurple,
.genericServiceRed,
.genericSetterExternal,
.genericShapePyramid,
.genericShapeRectangle,
.genericShapeSphere,
.genericShapes,
.genericSort,
.genericSynonym,
.genericTabMethod,
.genericTable,
.genericTableColumn,
.genericTableModel,
.genericTrigger,
.genericTriggerRedCorner,
.genericUIButton,
.genericUITextField,
.genericUITextFieldRedCorner,
.genericUITextFields,
.genericUITextFieldsRedCorner,
.genericUIView,
.genericUIViewExternal,
.genericUIViewRedCorner,
.genericUI_XML_File,
.genericUnknownDatabaseConnection,
.genericUnknownSchema,
.genericUnresolvedTable,
.genericVariable,
.genericVariableExternal,
.genericVariableHeader,
.genericVariableLink,
.genericVariablePropertyBlue,
.genericVariablePropertyExternal,
.genericVariablePropertyGreen,
.genericVariablePropertyPink,
.genericView,
.genericViewColumn,
.genericVirtualConstructor,
.genericWebService,
.genericiOS_Project,
.genericiOS_Workspace {
  width: 32px;
  height: 32px;
}
.genericAnnotation,
.genericApplication_CSharp,
.genericApplication_Cobol,
.genericApplication_CobolCICS,
.genericApplication_CobolJCL,
.genericApplication_DotNet,
.genericApplication_Java,
.genericApplication_PHP,
.genericApplication_REACT,
.genericApplication_SAP,
.genericApplication_SAPUI5,
.genericApplication_Shell,
.genericApplication_VB,
.genericApplication_VUEJS,
.genericApplication_Web,
.genericApplication_iOS,
.genericBook,
.genericCanvas,
.genericCanvasRedCorner,
.genericConstrainPrimary,
.genericConstraintBasic,
.genericConstraintPrimary,
.genericDivision,
.genericFile_BO,
.genericFile_Data,
.genericForeignKey,
.genericFrame,
.genericFrameRedCorner,
.genericIndex,
.genericIndexExternal,
.genericLambda,
.genericMacro,
.genericNamespace,
.genericParagraph,
.genericProgram,
.genericProject_Cpp,
.genericProject_Java,
.genericQueueCall,
.genericQueueCallGrey,
.genericQueueReceive,
.genericQueueReceiveGrey,
.genericRectangle,
.genericRegion,
.genericRegionGrey,
.genericReportGrey,
.genericReportRed,
.genericSection,
.genericShell_Application,
.genericSubProgram,
.genericSubProject_Java,
.genericTemplateArc,
.genericTemplateBody,
.genericTemplateChart,
.genericTemplateColumn,
.genericTemplateEllipse,
.genericTemplateFrame,
.genericTemplateFreehand,
.genericTemplateHeader,
.genericTemplateImage,
.genericTemplateLayout,
.genericTemplateLine,
.genericTemplateMargin,
.genericTemplatePolygon,
.genericTemplatePolyline,
.genericTemplateRepeatingRectangle,
.genericTemplateRoundedRectangle,
.genericTemplateText,
.genericTemplateTrailer,
.genericTemplateUnknown,
.genericUnionBlue,
.genericUnionOrange,
.genericUnionPink,
.genericUniqueKey {
  width: 16px;
  height: 16px;
}
.genericApplication_LoopBack,
.genericApplication_NodeJS {
  width: 190px;
  height: 190px;
}
.genericAzureFunction,
.genericAzureFunctionGrey,
.genericAzureFunctionInvoke,
.genericAzureFunctionInvokeGrey {
  width: 92px;
  height: 92px;
}
.genericCallToSignalRBlue,
.genericCallToSignalRGrey,
.genericSignalRBlue,
.genericSignalRGrey {
  width: 100%;
  height: 100%;
}
.genericS3Bucket,
.genericS3BucketGrey {
  width: 54px;
  height: 54px;
}
.genericSQL {
  width: 28px;
  height: 28px;
}
