.genericgeneric-AWSLambdaFunction,
.genericgeneric-AWSLambdaFunctionGrey {
  width: 64px;
  height: 64px;
}
.genericgeneric-AWSLambdaFunctionInvoke,
.genericgeneric-AWSLambdaFunctionInvokeGrey,
.genericgeneric-AWSLambdaInvokeFunction,
.genericgeneric-AWSLambdaInvokeFunctionGrey {
  width: 42px;
  height: 42px;
}
.genericgeneric-Alert,
.genericgeneric-AlertRedCorner,
.genericgeneric-Alias,
.genericgeneric-Android_Application,
.genericgeneric-Application_Android,
.genericgeneric-Application_Angular,
.genericgeneric-Application_AngularJS,
.genericgeneric-Beans,
.genericgeneric-CAST_Forms_DataBlock,
.genericgeneric-CAST_Forms_DataBlockItem,
.genericgeneric-CAST_Forms_DataBlockItem_Tab,
.genericgeneric-CAST_Forms_DataBlock_Relation,
.genericgeneric-CAST_Forms_DataBlock_Tab,
.genericgeneric-CallToJavaBean,
.genericgeneric-CallToJavaProgram,
.genericgeneric-CallToProgram,
.genericgeneric-Category,
.genericgeneric-CategoryExternal,
.genericgeneric-Class,
.genericgeneric-ClassExternal,
.genericgeneric-ClassInstance,
.genericgeneric-ClassRed,
.genericgeneric-ClassRedCorner,
.genericgeneric-Condition,
.genericgeneric-Constructor,
.genericgeneric-ConstructorExternal,
.genericgeneric-ConstructorInstance,
.genericgeneric-Cursor,
.genericgeneric-CursorBlue,
.genericgeneric-CursorHeader,
.genericgeneric-CursorRed,
.genericgeneric-DataBlock,
.genericgeneric-DataBlockItem,
.genericgeneric-DataBlockItemRedCorner,
.genericgeneric-DataBlockRedCorner,
.genericgeneric-DataBlockRelation,
.genericgeneric-DataLink,
.genericgeneric-DataModel,
.genericgeneric-DataModule,
.genericgeneric-DataModuleExternal,
.genericgeneric-DataObject,
.genericgeneric-DataObjectBrown,
.genericgeneric-DataObjectGreen,
.genericgeneric-DataObjectRedCorner,
.genericgeneric-DataQuery,
.genericgeneric-DataSet,
.genericgeneric-DataSetGrey,
.genericgeneric-Database,
.genericgeneric-DatabaseConnection,
.genericgeneric-DatabaseEvent,
.genericgeneric-DatabaseExternal,
.genericgeneric-DatabaseLink,
.genericgeneric-DatabaseView,
.genericgeneric-DatabaseViewColumn,
.genericgeneric-DeleteResourceService,
.genericgeneric-Destructor,
.genericgeneric-DestructorExternal,
.genericgeneric-EnumItem,
.genericgeneric-EnumItemExternal,
.genericgeneric-Enumeration,
.genericgeneric-EnumerationExternal,
.genericgeneric-EventHandler,
.genericgeneric-EventHandlerExternal,
.genericgeneric-File_ASA,
.genericgeneric-File_ASAX,
.genericgeneric-File_ASCX,
.genericgeneric-File_ASMX,
.genericgeneric-File_ASP,
.genericgeneric-File_ASPX,
.genericgeneric-File_CICS,
.genericgeneric-File_CSHTML,
.genericgeneric-File_CSS,
.genericgeneric-File_CSharp,
.genericgeneric-File_Cpp,
.genericgeneric-File_DDL,
.genericgeneric-File_DML,
.genericgeneric-File_FMB,
.genericgeneric-File_Grey,
.genericgeneric-File_HTC,
.genericgeneric-File_HTML,
.genericgeneric-File_Header,
.genericgeneric-File_JADE,
.genericgeneric-File_JS,
.genericgeneric-File_JSP,
.genericgeneric-File_JSX,
.genericgeneric-File_Java,
.genericgeneric-File_Kotlin,
.genericgeneric-File_LF,
.genericgeneric-File_MMB,
.genericgeneric-File_OLB,
.genericgeneric-File_ObjC,
.genericgeneric-File_PF,
.genericgeneric-File_PLL,
.genericgeneric-File_PUG,
.genericgeneric-File_Plist,
.genericgeneric-File_PurpleText,
.genericgeneric-File_Python,
.genericgeneric-File_SQL,
.genericgeneric-File_Script,
.genericgeneric-File_StoryBoard,
.genericgeneric-File_Swift,
.genericgeneric-File_TS,
.genericgeneric-File_TSX,
.genericgeneric-File_UIXML,
.genericgeneric-File_VB,
.genericgeneric-File_WSDL,
.genericgeneric-File_XIB,
.genericgeneric-FolderDarkBlue,
.genericgeneric-FolderGrey,
.genericgeneric-FolderLightBlue,
.genericgeneric-FolderRed,
.genericgeneric-Form,
.genericgeneric-Fragment_CSS,
.genericgeneric-Fragment_HTML,
.genericgeneric-Fragment_JS,
.genericgeneric-Fragment_TS,
.genericgeneric-Fragment_XML,
.genericgeneric-FunctionAction,
.genericgeneric-FunctionAnnotation,
.genericgeneric-FunctionBean,
.genericgeneric-FunctionBlue,
.genericgeneric-FunctionBlueBracket,
.genericgeneric-FunctionBluePrivate,
.genericgeneric-FunctionBlueService,
.genericgeneric-FunctionConverter,
.genericgeneric-FunctionExternal,
.genericgeneric-FunctionGreen,
.genericgeneric-FunctionGreenClass,
.genericgeneric-FunctionGreenSquareBracket,
.genericgeneric-FunctionOrange,
.genericgeneric-FunctionOrangeBracket,
.genericgeneric-FunctionOrangeModel,
.genericgeneric-FunctionOrangeProcess,
.genericgeneric-FunctionOrangeWatch,
.genericgeneric-FunctionPinkBracket,
.genericgeneric-FunctionPurple,
.genericgeneric-FunctionPurpleHeader,
.genericgeneric-FunctionPurpleRedCorner,
.genericgeneric-FunctionValidator,
.genericgeneric-GetResourceService,
.genericgeneric-Instance,
.genericgeneric-Interface,
.genericgeneric-InterfaceExternal,
.genericgeneric-List,
.genericgeneric-ListBean,
.genericgeneric-ListRedCorner,
.genericgeneric-LocalStorage,
.genericgeneric-Member,
.genericgeneric-Menu,
.genericgeneric-MenuItem,
.genericgeneric-MenuItemRedCorner,
.genericgeneric-MenuRedCorner,
.genericgeneric-Module,
.genericgeneric-ModuleRedCorner,
.genericgeneric-Package,
.genericgeneric-PackageGrey,
.genericgeneric-PackageOrange,
.genericgeneric-PackageOrangeRedCorner,
.genericgeneric-PackageRed,
.genericgeneric-Port,
.genericgeneric-PostResourceService,
.genericgeneric-Procedure,
.genericgeneric-ProcedureGreen,
.genericgeneric-ProcedureGrey,
.genericgeneric-ProcedureHeader,
.genericgeneric-ProcedurePink,
.genericgeneric-ProcedurePrivate,
.genericgeneric-ProcedureRedCorner,
.genericgeneric-ProcessBlue,
.genericgeneric-ProcessExternal,
.genericgeneric-ProcessGreen,
.genericgeneric-ProcessPurple,
.genericgeneric-ProcessRed,
.genericgeneric-PropertyGetter,
.genericgeneric-PropertyOutlet,
.genericgeneric-PropertySetter,
.genericgeneric-PutResourceService,
.genericgeneric-Queue,
.genericgeneric-Receive,
.genericgeneric-ResourceServiceDelete,
.genericgeneric-ResourceServiceGet,
.genericgeneric-ResourceServicePost,
.genericgeneric-ResourceServicePut,
.genericgeneric-RouteFrom,
.genericgeneric-RouteTo,
.genericgeneric-SQLNamedQuery,
.genericgeneric-Schema,
.genericgeneric-ServiceBlue,
.genericgeneric-ServiceBrown,
.genericgeneric-ServiceGreen,
.genericgeneric-ServiceOrange,
.genericgeneric-ServicePurple,
.genericgeneric-ServiceRed,
.genericgeneric-SetterExternal,
.genericgeneric-ShapePyramid,
.genericgeneric-ShapeRectangle,
.genericgeneric-ShapeSphere,
.genericgeneric-Shapes,
.genericgeneric-Sort,
.genericgeneric-Synonym,
.genericgeneric-TabMethod,
.genericgeneric-Table,
.genericgeneric-TableColumn,
.genericgeneric-TableModel,
.genericgeneric-Trigger,
.genericgeneric-TriggerRedCorner,
.genericgeneric-UIButton,
.genericgeneric-UITextField,
.genericgeneric-UITextFieldRedCorner,
.genericgeneric-UITextFields,
.genericgeneric-UITextFieldsRedCorner,
.genericgeneric-UIView,
.genericgeneric-UIViewExternal,
.genericgeneric-UIViewRedCorner,
.genericgeneric-UI_XML_File,
.genericgeneric-UnknownDatabaseConnection,
.genericgeneric-UnknownSchema,
.genericgeneric-UnresolvedTable,
.genericgeneric-Variable,
.genericgeneric-VariableExternal,
.genericgeneric-VariableHeader,
.genericgeneric-VariableLink,
.genericgeneric-VariablePropertyBlue,
.genericgeneric-VariablePropertyExternal,
.genericgeneric-VariablePropertyGreen,
.genericgeneric-VariablePropertyPink,
.genericgeneric-View,
.genericgeneric-ViewColumn,
.genericgeneric-VirtualConstructor,
.genericgeneric-WebService,
.genericgeneric-iOS_Project,
.genericgeneric-iOS_Workspace {
  width: 32px;
  height: 32px;
}
.genericgeneric-Annotation,
.genericgeneric-Application_CSharp,
.genericgeneric-Application_Cobol,
.genericgeneric-Application_CobolCICS,
.genericgeneric-Application_CobolJCL,
.genericgeneric-Application_DotNet,
.genericgeneric-Application_Java,
.genericgeneric-Application_PHP,
.genericgeneric-Application_REACT,
.genericgeneric-Application_SAP,
.genericgeneric-Application_Shell,
.genericgeneric-Application_VB,
.genericgeneric-Application_VUEJS,
.genericgeneric-Application_Web,
.genericgeneric-Application_iOS,
.genericgeneric-Book,
.genericgeneric-Canvas,
.genericgeneric-CanvasRedCorner,
.genericgeneric-ConstrainPrimary,
.genericgeneric-ConstraintBasic,
.genericgeneric-ConstraintPrimary,
.genericgeneric-Division,
.genericgeneric-File_BO,
.genericgeneric-File_Data,
.genericgeneric-ForeignKey,
.genericgeneric-Frame,
.genericgeneric-FrameRedCorner,
.genericgeneric-Index,
.genericgeneric-IndexExternal,
.genericgeneric-Lambda,
.genericgeneric-Macro,
.genericgeneric-Namespace,
.genericgeneric-Paragraph,
.genericgeneric-Program,
.genericgeneric-Project_Cpp,
.genericgeneric-Project_Java,
.genericgeneric-QueueCall,
.genericgeneric-QueueCallGrey,
.genericgeneric-QueueReceive,
.genericgeneric-QueueReceiveGrey,
.genericgeneric-Rectangle,
.genericgeneric-Region,
.genericgeneric-RegionGrey,
.genericgeneric-ReportGrey,
.genericgeneric-ReportRed,
.genericgeneric-Section,
.genericgeneric-Shell_Application,
.genericgeneric-SubProgram,
.genericgeneric-SubProject_Java,
.genericgeneric-TemplateArc,
.genericgeneric-TemplateBody,
.genericgeneric-TemplateChart,
.genericgeneric-TemplateColumn,
.genericgeneric-TemplateEllipse,
.genericgeneric-TemplateFrame,
.genericgeneric-TemplateFreehand,
.genericgeneric-TemplateHeader,
.genericgeneric-TemplateImage,
.genericgeneric-TemplateLayout,
.genericgeneric-TemplateLine,
.genericgeneric-TemplateMargin,
.genericgeneric-TemplatePolygon,
.genericgeneric-TemplatePolyline,
.genericgeneric-TemplateRepeatingRectangle,
.genericgeneric-TemplateRoundedRectangle,
.genericgeneric-TemplateText,
.genericgeneric-TemplateTrailer,
.genericgeneric-TemplateUnknown,
.genericgeneric-UnionBlue,
.genericgeneric-UnionOrange,
.genericgeneric-UnionPink,
.genericgeneric-UniqueKey {
  width: 16px;
  height: 16px;
}
.genericgeneric-Application_LoopBack,
.genericgeneric-Application_NodeJS {
  width: 190px;
  height: 190px;
}
.genericgeneric-Application_SAPUI5,
.genericgeneric-CallToSignalRBlue,
.genericgeneric-CallToSignalRGrey,
.genericgeneric-SignalRBlue,
.genericgeneric-SignalRGrey {
  width: 100%;
  height: 100%;
}
.genericgeneric-AzureFunction,
.genericgeneric-AzureFunctionGrey,
.genericgeneric-AzureFunctionInvoke,
.genericgeneric-AzureFunctionInvokeGrey {
  width: 92px;
  height: 92px;
}
.genericgeneric-S3Bucket,
.genericgeneric-S3BucketGrey {
  width: 54px;
  height: 54px;
}
.genericgeneric-SQL {
  width: 28px;
  height: 28px;
}
